[submodule "components/zh_config"]
	path = components/zh_config
	url = https://github.com/aZholtikov/zh_config
[submodule "components/zh_espnow"]
	path = components/zh_espnow
	url = https://github.com/aZholtikov/zh_espnow